@model ASPEnshu.Models.ViewModels.EducationVM
@{
    ViewData["Title"] = "EducationEntrySheet";
}

<style>
    .table-fixed-width th,
    .table-fixed-width td {
        width: 150px; /* 必要に応じて調整 */
    }
</style>

<!-- この間は、ここはセッション管理のテストなので、演習とは関係ない-->
<p>@ViewBag.Session</p>
<p>@this.Context.Session.GetString("now");</p>
<!---->

<form asp-action="EducationEntrySheet" class="w-100">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <p style="text-indent: 20px;background-color: #E0E0E0; color: black; padding: 10px;">データ追加エリア</p>
    <input type="hidden" name="Id" value="@ViewBag.Id" />
    <table class="table table-borderless table-fixed-width">
        <tr>
            <!-- Classcode -->
            <th><label asp-for="@Model.educationForEntry.Classcode" class="control-label"></label></th>
            <th><label asp-for="@Model.educationForEntry.Seitono" class="control-label"></label></th>
            <th><label asp-for="@Model.educationForEntry.Kokugo" class="control-label"></label></th>
            <th><label asp-for="@Model.educationForEntry.Suugaku" class="control-label"></label></th>
            <th><label asp-for="@Model.educationForEntry.Rika" class="control-label"></label></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input asp-for="@Model.educationForEntry.Classcode" class="form-control" />
                <span asp-validation-for="@Model.educationForEntry.Classcode" class="text-danger"></span>
            </td>
            <!-- Seitono -->
            <td>

                <input asp-for="@Model.educationForEntry.Seitono" class="form-control" />
                <span asp-validation-for="@Model.educationForEntry.Seitono" class="text-danger"></span>
            </td>
            <!-- Kokugo -->
            <td>

                <input asp-for="@Model.educationForEntry.Kokugo" class="form-control" />
                <span asp-validation-for="@Model.educationForEntry.Kokugo" class="text-danger"></span>
            </td>
            <!-- Suugaku -->
            <td>

                <input asp-for="@Model.educationForEntry.Suugaku" class="form-control" />
                <span asp-validation-for="@Model.educationForEntry.Suugaku" class="text-danger"></span>
            </td>
            <!-- Rika -->
            <td>

                <input asp-for="@Model.educationForEntry.Rika" class="form-control" />
                <span asp-validation-for="@Model.educationForEntry.Rika" class="text-danger"></span>
            </td>
            <td>
            </td>
        </tr>
    </table>

    <p style="text-indent: 20px;background-color: #E0E0E0; color: black; padding: 10px;">データ閲覧・編集エリア</p>
    <table class="table table-borderless table-fixed-width">
        <tr>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().Classcode" class="control-label"></label>
            </th>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().Seitono" class="control-label"></label>
            </th>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().Kokugo" class="control-label"></label>
            </th>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().Suugaku" class="control-label"></label>
            </th>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().Rika" class="control-label"></label>
            </th>
            <th>
                <label asp-for="@Model.educations.FirstOrDefault().DeleteFlg" class="control-label"></label>
            </th>
        </tr>

        @for (int count = 0; count < Model.educations.Count(); count++) {
            <tr>
                <td>
                    <input asp-for="@Model.educations[count].Classcode" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model.educations[count].Seitono" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model.educations[count].Kokugo" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model.educations[count].Suugaku" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model.educations[count].Rika" class="form-control" />
                </td>
                <td>
                    <input asp-for="@Model.educations[count].DeleteFlg" type="checkbox" class="form-check-input" />
                </td>
            </tr>
        }
        <!-- Save Button -->
        <tr>
            <td>
                <input type="submit" value="Save" class="btn btn-primary mt-4" />
            </td>
        </tr>
    </table>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
